/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  
}
html,
body {
  height: 100%;
}
nav {
  width: 100%;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: grey;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 2%;
}
.nav {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
}
.resume {
  background-color: gainsboro;
  width: 85%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-right: 3%;
}
h1{
  font-size: 2rem;
}

.first{
  margin-top: 29%;
  margin-left: 1%;
  
  width: 20%;
}
h2{
  font-size: 1.5rem;
}
.second{
  width: 20%;
  margin-top: 23%;
}
.skills{
margin-top: 23%;
margin-left: 14%;
}
.moreinfo{
  background-color:dimgray;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
}
.boxes{
  width: 50%;
  height: 30vh;
  padding-top: 2%;
  padding-left: 2%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.mip{
  width: 40%;
}
button{
  padding: 2%;
  margin-top: 5%;
  background-color: lightgrey;
  width: 30%;
}
.footer{
  margin: 0 auto;
  background-color:papayawhip;
  width: 85%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 3%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom:5% ;
}
body{
  background-color:lightcyan ;
}
.pic{
  height: 10px;
  width: 30px;
}
#tag{
width: 30%;
position: relative;
bottom: 98%;
left: 70%;
}
#tag2{
  width: 30%;
  position: relative;
  bottom: 89%;
  left: 70%;
}
#tag3{
  width: 30%;
  position: relative;
  bottom: 99%;
  left: 70%;
}
#face{
  width: 25%;
  height: 80%;
  margin-top: 3%;
  margin-left: 2%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

}